* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #90CAF9;
}

.main {
  border-radius: 10px;
  text-align: center;
  width: 90%;
  background: #ECEFF1;
  padding: 20px 20px 40px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.title {
  font-family: cursive;
  padding: 10px 0;
  margin-bottom: 20px;
}
#input ,#result{
  padding: 10px 0px;
  border: 2px solid black;
  font-size: 25px;
  width: 100%;
  text-align: center;
  background-color: #E0E0E0;
}
#result{
  padding: 10px 0;
}
.btn3{
  padding: 15px 25px;
  font-size: 20px;
  border-radius: 10px;
  background: #AEEA00;
  border:none;
  margin: 20px 0;
  outline: none;
}
select{
  padding:5px 10px;
  border-radius: 5px;
  font-size: 15px;
  outline: none;
}
.copy {
      text-align: center;
      margin-top: 500px;
    }